# Dependencies
node_modules
.pnpm-store
.yarn
.npm

# Build output
dist
dist-ssr
build
.vite

# Vercel
.vercel

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches
.cache
.parcel-cache
.eslintcache
.turbo

# OS / system
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage / test
coverage
*.lcov
